body { padding: 0; margin: 0 }
#unity-container { position: relative }
/* #unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) } */
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: rgb(70, 70, 70); }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar
{ position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    display: none }
#unity-logo
{ 
    /* background-color: rgb(70, 70, 70);
    background-image: url('logo.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50vw;
    height: 50vh; */
}
#unity-progress-bar-empty { width: 80%; height: 18px; margin-top: 10px; background: url('progress-bar-empty-light.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-light.png') no-repeat center }
#unity-footer { 
    position: relative;
    height:5vh;
}
.unity-mobile #unity-footer { display: none }
/* #unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center } */
/* #unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px } */
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
/* #unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none } */


/* SHARE */
.img-container{
    align-items: center;
    background-color: black;
}

.quadrat{
    width: 45vw;
}
.quer{
    width: 90vw;
}
.hochkant{
    width: 30vw;
}

.nav{
    align-content: right;

    flex-direction: row;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height:5vh;
    /* align-content: space-between; */
    background-color: rgb(0, 0, 0);
}
.menu{
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 50vw;
}
.menu-button{
    align-content: right;

    padding: 0px;
    margin: 0px;
    height: auto;
    border-width: 0px;
    border-radius: 5px;
    background-color: rgb(46, 46, 46);
    font-size: larger;
    color: rgb(173, 173, 173);
}

.nav-logo{
    align-content: right;
    color: white;
    width: 40%;
    height: 100%;
    font-size: xx-large;
    font-weight: 400;
}

